html,body{
    display:grid;
    height:100%;
    width: 100%;
    place-items: center;
    background : linear-gradient(to right bottom, #141ddd, #0073ff,#00a5ff,#00cff2,#00f4d8);
}
button.btn{
    border:#0f0f0f;
    border-radius: 5px;
    padding:20%;
    cursor:pointer;
    background:whitesmoke;
    box-shadow: 0px 15px 20px rgba(0,0,0,10);
}
/*................
.Header {
	width: 100%;
	
}

header {
  background: whitesmoke;
  width:100%;
  text-align: center;
}
.logo {
  text-align: center;
}
nav {
  float: center;
}
nav ul {
  margin-top: 2%;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  }
nav a {
  color:Black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
nav a:hover {
  color: rgb(255, 0, 0);
}

*/

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:2rem 3rem;
    background-color: #222;

}

header .logo{
    font-size: 3rem;
    color:orange;
}

header .logo span{
    color:var(--orange);
}

header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul li{
    margin:0 1rem;
}

header .navbar ul li a{
    color: skyblue;
    font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:var(--orange);
}

header #menu{
    font-size: 3rem;
    color:var(--orange);
    cursor: pointer;
    display: none;
}

header.header-active{
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header.header-active .logo,
header.header-active .navbar a{
    color:#333;
}
